body{
	font-size:1.4rem;
	line-height:1.4;}



/* =========================
　h1＝トップのサイトタイトル
　h2＝各セクションタイトル（ILLUSTとかOFFLINEとか）
　========================= */
h1{
	font-size:5rem;
	line-height:10rem;
	text-align:center;
	letter-spacing:0.8rem;
	font-weight: normal;}

h2{
	font-size:3rem;
	margin-bottom:2rem;
	letter-spacing:0.5rem;}

/* ↓各セクションの余白 */
section{
	padding:7rem 3rem; /* ←上下　左右　の順 */
	position:relative; }

.wrapper{
	max-width:100rem; /* コンテンツエリアの最大幅を指定 */
	margin:0 auto;
	position:relative;}


/* ↓Twitterとかへのリンクボタン */
.btn{
	background-color:#fff;
	color:#afafbb;
	text-align:center;
	border:solid 1px #afafbb; }
	

/* =========================
　メニュー部分の設定
　========================= */

#top{
	padding:0;}

#top:before{
	content:"";
	display:block;
	position:fixed;
	top:0;
	left:0;
	z-index:-1;
	width:100%;
	height:100vh;
	background-image:url("../bg-mb.jpg"); /* 背景画像を指定 */
	background-size:cover;
	background-repeat: no-repeat; }

header{
	background-color: rgba(0,0,0,0.4); 
	width:100%;
	height:calc(100% - 19rem) ;　/* 高さ100%から下のプロフ部分の高さを引いてる */
	height:-webkit-calc(100% - 19rem) ;
	padding:0 6rem;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-webkit-align-items: center; }

header a{
	color:#fff;}

nav{
	z-index: 1000;}

nav ul{
	list-style: none;
	display: table;
	margin:0 auto;
	width:22rem;
	table-layout: fixed;
	text-align: center;}

nav li{ 
	display: table-cell;
	vertical-align: middle;}

nav li a{
	display:block;
	font-size: 4rem;
	line-height:5.5rem;
	text-align:center;}

nav li a i.icon{
	font-size: 5rem;
	line-height: 1;}

.text{
	font-size:1.8rem;
	line-height:0;
	letter-spacing:0.2rem;
	font-weight:400;
	vertical-align:middle;
	display:block;}


/* =========================
　スクロールしたときのメニューの設定
　========================= */
nav.scroll{
	position:fixed;
	top:0;
	left:0;
	height:5rem;
	width:100%;
	background-color:#fff;
	border-bottom:solid 2px #000;
	box-sizing: content-box;}

nav.scroll h1{
	font-size:3rem;
	line-height:5rem;
	letter-spacing: 0.3rem;
	margin:0 2rem;
	text-align:left;}
	
nav.scroll h1 a{
	color:#000;}
	
nav.scroll ul{
	position:absolute;
	top:1rem;
	right:1rem; 
	width:11rem;}

nav.scroll li{}
	
nav.scroll li a{
	height:3rem;
	width:3rem;
	background-color:#000;
	color:#fff;
	font-size: 1.4rem;
	line-height:3rem;
	text-align:center;
	border-radius: 50%;}

nav.scroll li a i.icon{
	font-size: 2rem;
	line-height: 3rem;}

nav.scroll li a span.text{ display:none; }



/* =========================
　ここからインフォ部分の設定
　========================= */

#info{
	padding:2rem;
	height:19rem;}

#me{
	display:block;
	width:9rem;
	height:auto;
	margin:-6rem auto 0 auto;
	background-color:#fff;
	border-radius:50%;
	border:solid 5px #fff; }

#prof strong{
	display:block;
	font-size:1.6rem;
	line-height:3rem;
	vertical-align:middle;
	text-align:center;}

#info .btn{
	display:inline-block;
	width:100%;
	margin:0.5rem 0;
	vertical-align:middle;
	line-height:3rem;
	letter-spacing:0.2rem; }

#info p{
	margin:1rem 0;}



/* =========================
　ここからイラスト部分の設定
　========================= */

div.pic{
	float:left;
	width:33.33%; /* ここの数値で絵のサムネイル並ぶ数変えられる。今は20%だから横に５つ。25%なら４つ… */
	padding:0.3rem; /* サムネイルまわりの余白 */ }

.long{
	padding-bottom: 4rem;}
	
#illust{
	position: relative;}
	
#illust img{
	width:100%;
	height:auto;
	vertical-align:bottom; }
	
a.next{
	position: absolute;
	bottom: 0;
	display: block;
	text-align: center;
	width: 100%;
	font-size: 2rem;
	line-height: 3rem;
	letter-spacing: 0.2rem;
	border:solid 2px #fff;
	background-color:#fff;
	color:#dbdbe3; }



/* =========================
　ここからオフライン部分の設定
　========================= */

.event{
	margin:1rem 0 2rem 0;
	padding:1rem 2rem;
	background-image: repeating-linear-gradient(-45deg, #fff, #fff 3px, #e5e5e9 0, #e5e5e9 4px);}

.event span{
	font-weight:600;
	display:block;}

#off{
	font-size:1.2rem;}
	
#off h3{
	font-size:1.5rem;}

#off .btn{
	display:block;
	margin:0.6rem 0;
	width:100%;
	line-height:3rem;
	font-size: 1.6rem;
	letter-spacing: 0.1rem;}

#off .btn .material-icons{
	margin-right: 0.3rem;
	font-size: 1.5rem;
	vertical-align: middle;}

.shinkan{
	width:100%;
	margin:0 auto 5rem auto;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	-webkit-justify-content: center;}

.shinkan .box{
	position:relative;
	width:50%;}


.shinkan >:last-child {
	padding-left:1rem;}

.shinkan img{
	width:100%;}

.new{
	position:absolute;
	top:-0.5rem;
	right:-0.5rem;
	width:3.4rem;
	height:3.5rem;
	margin-bottom:0.5rem;
	background-color:#d8557e;
	font-size:1rem;
	line-height:3.5rem;
	color:#fff;
	text-align:center;
	border-radius:50%;}

.shousai{
	display:block;}
	
.shinkan .shousai{
	line-height:1.6rem;
	margin-bottom:1rem;}

.kikan{
	width:100%;
	margin:0 auto;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap; }
	
.kikan .shousai{
	line-height:2rem;}

.hon{
	margin-bottom:2rem;
	width:48%;}

.kikan img{
	margin-bottom:0.5rem;
	width:100%;}




/* =========================
　ここからメルフォ部分の設定
　========================= */

form {
	width: 100%;
	margin:-1rem auto 0 auto;}
	
form div{
    margin-top: 1.2rem;}
    
label {
	color:#fff;
	display:block;
	padding-bottom:0.3rem;}

input, textarea {
	padding:0.5rem;
	border:none; }

input{
	width:100%;
	max-width:30rem;}
	
textarea {
	width: 100%;
    height: 10rem;
	padding:0.5rem;
    resize: none;
	font-size:2rem;}

button {
	padding:0.5rem 1rem;
	margin:0.5rem 0.5rem 0 0;
	letter-spacing:0.1rem;
	font-size:1.6rem;
	border-style: none;
	background-color:#cfcfcf;}



/* =========================
　ここからフッター部分の設定
　========================= */

footer{
	padding:1.5rem;
	text-align:center;
	font-size:1.6rem;
	font-weight:400;
	letter-spacing:0.1rem;}



/* =========================
　スマホでは非表示にする要素
　========================= */

.max{ display:none; }

